.button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  height: 40px;
  border-radius: 24px;
  transition: all 0.4s ease-out;
  //Hover effect
  position: relative;
  z-index: 5;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 24px;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    transform: scaleY(0);
  }
  &:focus {
    box-shadow: 0 0 2px #000;
    outline: none;
  }

  &:hover {
    color: white;
    //background: transparent;
    border: 2px solid white;
    cursor: pointer;
    &:before {
      transform: scaleY(1);
    }
  }
}
